<form method="post">
	<div class="my-3">
		<label for="search" class="search-input">Từ khoá</label>
		<input
			type="search"
			class="form-control"
			id="search-input"
			name="q"
			placeholder="Nhập từ khoá..."
		/>
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>